<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Other</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>I am other page!!!</h1>
        <a href="{% url 'first_app:relative_url' %}">Go to relative url</a>
        <br/>
        <a href="{% url 'admin:index' %}">Admin Page</a>
        <br/>
        <a href="{% url 'index' %}">Index Page</a>
    </body>
</html>