<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Relative</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>hi I am Relative URL page</h1>
        <a href="{% url 'first_app:other_page' %}">Go to other Page!!</a>
        <br/>
        <a href="{% url 'admin:index' %}">Admin Page</a>
        <br/>
        <a href="{% url 'index' %}">Index Page</a>
    </body>
</html>